h1{
    margin: 0%;
}

.header{
    color: orange;
    background-color: blueviolet;
    height: 20vh;
    width: 100%;
}

.footer{
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1;
    flex-flow: row;
    color: rgb(85, 233, 40);
    background-color: rgb(51, 12, 88);
    width: 100%;
    height: 6.99vh;
}

.footerItem{
    padding-right: 3vw;
}

.navList{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    width: 30vw;
    height: 73vh;
    color: beige;
    background-color: chocolate;
    align-content: center;
    justify-content: space-evenly;
}

.navItem{
    padding: 1vh;
    margin-top: 0vh;
}

.navItem:hover{
    color: black;
    background-color: aquamarine;
}

.editContent{
    color: lemonchiffon;
    background: darkcyan;
    padding: 1vw;
    width: 70vw;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.displayCurrentUser{
    margin-bottom: 1vh;
}

.inputName{
    text-align: center;
    width: 45%;
}


.updateButton{
    margin-top: 2vh;
    width: 20%;
    padding: 1vh;
    background: grey;
    color: white;
    left: 38%;
    min-width: 50px;
    position: relative;
}

.updateButton:hover{
    background: darkgrey;
    color: darkviolet;
}